.mdl-textfield__input,
.mdl-textfield__label,
.mdl-textfield {
    width: 100% !important;
}

.mdl-spinner {
    width: 50%;
    margin: 0 auto;

    display: block !important;

    visibility: hidden;
}

.hljs {
    background: none !important;
}


.container {
    margin-top: 5em;
}

.space {
    margin-top: 3rem;
}

.center {
    text-align: center;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

body {
    max-width: 60em !important;
    min-height: 0 !important;

    margin: 0 auto !important;

    padding: 5em;
}
